<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/732188d8b2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title> admin Login Form</title>
    <style>
       .loginContainer{
        background-image: url("https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .loginContainer form{
        background: transparent;
      }
      h2{
        font-style: italic;
        color: brown;
      }
        .admin_signup {
    border: 1px solid black;
    margin-left: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    background-color: brown;
    color: black;
    text-decoration: none;
}
    </style>
  </head>
  <body>
    <div class="loginContainer">
      <!-- start navbar -->
      <%- include('../partials/navbar') %>
    <!-- End the navbar -->
      <form action="/adminlogin" method="POST">
        <% if (message) { %>
          <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
              <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
              <strong><%= message.message %></strong>
          </div>
          <% } %> 
        <h2>Welcome to Login</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email Address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            placeholder="Enter your email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            placeholder="Enter your password"
          />
        </div>
        <button type="submit" class="btn">login</button>
        <b><a href="/adminSignUp" class="admin_signup">Sign Up</a></b>
      </form>
    </div>
    <!-- Start Footer Section -->
    <%- include('../partials/footer') %>
    <!-- end Footer Section -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
