<!-- start navbar -->
<div class="header">
  <div class="logo">
    <img src="/images/airbnb.png" alt="airbnb logo" />
  </div>
  <div class="navbarMiddle">
    <ul>
      <li><a href="#">Anywhere</a></li>
      <span>|</span>
      <li><a href="#">Any week</a></li>
      <span>|</span>
      <li><a href="#" style="color: gray">Add guests</a></li>
      <span class="searchIcon"
        ><a href="#"
          ><i
            class="fa-solid fa-magnifying-glass"
            style="margin: 6px; color: white"
          ></i></a
      ></span>
    </ul>
  </div>
  <div class="navbarRight">
    <div class="navbarHost">
       <a href="/admin">Airbnb your home</a>
       <a href="#"><i class="fa-sharp fa-solid fa-globe"></i></a>
    </div>
    <!-- dropdown start -->
    <div class="dropdown">
      <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span style="margin: 10px; color: black"
          ><i class="fa-solid fa-bars"></i>
          <i
            class="fa-solid fa-user"
            style="margin-left: 5px; color: black"
          ></i>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/login">LogIn</a></li>
        <li><a class="dropdown-item" href="/signup">Signup</a></li>
        <li><a class="dropdown-item" href="/logout">LogOut</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="/admin">Host your home</a></li>
        <li><a class="dropdown-item" href="#">Host your Experience</a></li>
        <li><a class="dropdown-item" href="/help">Help</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end navbar -->
