
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Bitter', serif;
}

html{
    font-size: 80.5%;
}
/* .....errror section starts here. */
.info-wrapper{
    margin-left: 10px;
}

.error-wrapper{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-wrapper > .image-wrapper{
    width: 80%;
    height: 80%;
    background-position: center;
    background-size: cover;
}

.error-wrapper > .image-wrapper > img{
    height: 90%;
    width: 100%;
}

.error-wrapper > .info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.error-wrapper > .info-wrapper > h1,h2{
    text-align: left;
}

.error-wrapper > .info-wrapper > h1>span{
    font-size: 3.5rem;
    color: #ff385c;
    letter-spacing: 0.05em;
}

.error-wrapper > .info-wrapper > h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.error-wrapper > .info-wrapper > h2{
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

.error-wrapper > .info-wrapper > p{
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

.error-wrapper > .info-wrapper > p>a{
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 5px;
    color: #ff385dbd;
}

.error-wrapper > .info-wrapper > p>a:hover{
    text-decoration: underline;
}
.admin_signup a{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}


/* add media queries 600px */
@media screen and (max-width: 600px){
  
    .info-wrapper{
        margin-left: 10px;
    }
    
    .error-wrapper{
        width: 95%;
        height: 100%;
    }
    
    .error-wrapper > .image-wrapper{
        width: 50%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    
    .error-wrapper > .info-wrapper{
        gap: 0.5rem;
    }
    
    .error-wrapper > .info-wrapper > h1>span{
        font-size: 2.5rem;
    }
    
    .error-wrapper > .info-wrapper > h1{
        font-size: 2rem;
    }
    
    .error-wrapper > .info-wrapper > h2{
        margin-top: 10px;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .error-wrapper > .info-wrapper > p{
        margin-top: 0.5rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .error-wrapper > .info-wrapper > p>a{
        font-size: 2rem;
        margin-right: 5px;
        color: #ff385dbd;
    }
}
/* media queries end here */