/* Style start detail page */
.detailContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.px-5{
    text-align: left;
}
.card{
    width: 89%;
    height: auto;
    margin-top: 80px;
    margin-left: 2rem;
}
.detailPosition{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.detailRight{
    margin-right: 5rem;
}
.detailPosition a {
    color: black;
}
.reviewLogo{
    margin-top: 2rem;
}
.reviewLogo span{
    font-size: 32px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reviewLogo a{
    color: black;
}
.reviewOffers{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.reviewOffersLeft{
 font-size: 25px;
}
.googleMap{
    margin-top: 20px;
}
.googleMap iframe{
  width: 97%;
  border-radius: 10px;
   
}
/* footer style */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Add media queries 768px */
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.py-5{
    margin-top: 20px;
    padding: 5px;
}

/* add media queries 600px */
@media screen and (max-width: 600px) {
  .card{
    width: 98%;
    margin-left: 5px;
    margin-right: 5px;
}
.detailRight{
  margin-right: 5px;
}
.reviewOffersLeft{
  display: none;
}
.px-5{
  font-size: 15px;
}

.dropdown{
  margin-right: 15px;
}
.navbarHost {
  display: none;
 }
}
 
 /* media queries end here  */