*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loginContainer{
    height: 100vh;
    width: 100%;
    background-image: url("https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.loginContainer form{
    width: 650px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: rgba(83, 209, 247, 0.734);
}
.form-label{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.loginContainer form input{
    width: 500px;
    padding-left: 20px;
    margin-left: 20px;
}
  form .btn{
    margin-left: 13rem;
    margin-top: 2rem;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: brown;
} 
form .btn:hover{
    background-color: rgb(201, 106, 233);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h2{
    text-align: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* add media queries */
@media screen and (max-width: 600px) {
    .loginContainer form{
        width: 550px;
        height: 440px;
        border-radius: 20px;
        margin: 100px 10px 10px 10px;
    } 
    .loginContainer form input{
        width: 350px;
    }
    .dropdown{
        margin-right: 15px;
      }
      .navbarHost {
        display: none;
       }
}
