.container-fluid{
    width: 100%;
    height: 100%;
    background-image: url("https://images.moneycontrol.com/static-mcnews/2021/04/Roof-top-pool-2-taj-goa.jpg?impolicy=website&width=770&height=431");
    background-repeat: no-repeat;
    background-size: cover;
}

.signupForm {
    width: 700px;
    height: 650px;
    border-radius: 10px;
    margin-left: 19rem;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.signupForm h2{
    font-style: italic;
    color: brown;
}
.col-12{
    margin-top: 5px;
}
#exampleInputPassword1{
    width: 450px;
}
#exampleInputEmail1{
    width: 450px;
}

/* Add media queries here */
@media screen and (max-width: 600px) {
    .container-fluid{
        width: 150%;
        /* height: 100%; */
    }
    .signupForm {
        width: 420px;
        height: 680px;
        margin-left: 0.5rem;
        margin-right: 3px;
    } 
    .dropdown{
        margin-right: 20px;
      }
      .navbarHost {
        display: none;
       }
       #exampleInputPassword1{
        width: 410px;
    }
    #exampleInputEmail1{
        width: 410px;
    }
}

