*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 248, 248);
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(212, 210, 210);
    position: fixed;
    top: 0px;
    z-index: 1;
}
.logo img{
    width: 130px;
    margin-left: 50px;
}
.navbarMiddle{
    margin-top: 14px;
}
.navbarMiddle ul{
    display: flex;
    list-style: none;
    border: 1px solid rgb(174, 170, 170);
    border-radius: 50px;
    padding: 3px;
    padding-left: 10px;
    width: 380px;
    height: 40px;
}
.navbarMiddle ul:hover{
    box-shadow: 0px 8px 8px 0px rgba(110, 108, 108, 0.2);
}
.navbarMiddle ul li{
    font-size: 18px;
    font-weight: bold;
    margin-right: 3px;
    padding: 3px;
    padding-left: 10px;
}
.navbarMiddle li a{
    text-decoration: none;
    color: black;
}
span{
    margin-top: 3px;
}
.searchIcon{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: red;
    margin-top: 3px;
    margin-left: 5px;
}
/* navbar right */
.navbarRight{
    display: flex;
}
.navbarHost a {
    text-decoration: none;
    color: rgb(15, 15, 15);  
    font-weight: bold;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 20px;
}
/* navbar dropDown */
.dropdown{
    height: 35px;
    padding: 5px;
     margin-right: 30px;
     border: 1px solid black;
     border-radius: 30px;
}
.dropdown-menu{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.dropdown:hover{
    box-shadow: 0px 8px 8px 0px rgba(110, 108, 108, 0.2);
}
/* section style */
.container{
    position: absolute;
    top: 85px;
    width: 100%;
    margin-left: 5rem;
}
.card{
    width: 20rem;
    height: 23rem;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid white;
    padding: 5px 5px; 
} 
.card img{
    width: 310px;
    height: 250px;
    border-radius: 10px;
} 

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid rgb(212, 210, 210);
    background-color: rgb(250, 248, 248);
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
.footerLeft ul{
    display: flex;
    justify-content: center;
    gap: 12PX;
}
.footerLeft ul li{
    margin: 8px;
    font-size: 15px;
}
.footerLeft ul li a{
    text-decoration: none;
    color: rgb(120, 118, 118);
}
.footerRight ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 40px;
}
.footerRight ul li{
    margin: 8px;
    font-size: 15px;
}
.footerRight ul li a{
    text-decoration: none;
    color: rgb(42, 41, 41);
   font-weight: bold;
}
/* style login form */

.loginContainer{
    /* background-image: url("https://media.istockphoto.com/id/1226883131/photo/human-figure-icon-graphic-as-user-login-button-on-white-keyboard.jpg?b=1&s=170667a&w=0&k=20&c=9jn8gBXXYJ08mQO7gUPn1oMslu1RlMDL_EDoNBNS1NE="); */
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
h2{
    text-align: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.loginContainer form{
    width: 700px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: rgb(243, 204, 210);
}
.form-label{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.loginContainer form input{
    width: 500px;
    padding-left: 20px;
    margin-left: 20px;
}
 form .btn{
    /* display: flex;
    justify-content: center; */
    margin-left: 13rem;
    margin-top: 3rem;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: brown;
}
form .btn:hover{
    background-color: rgb(201, 106, 233);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

 

